interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.rdio.com/api/oembed/?url=http%3A%2F%2Fwww.rdio.com%2Fartist%2FMike_Oldfield%2Falbum%2FAmarok%2F&format=json
  response:
    body: {string: !!python/unicode '{"provider_url": "http://www.rdio.com", "version":
        "1.0", "thumbnail_width": 200, "height": 400, "thumbnail_height": 200, "title":
        "Amarok", "html": "<iframe width=\"400\" height=\"400\" src=\"https://rd.io/i/Qj5BbBc//?source=oembed\"
        frameborder=\"0\"></iframe>", "width": 400, "thumbnail_url": "http://img00.cdn2-rdio.com/album/4/5/3/0000000000033354/square-400.jpg",
        "provider_name": "Rdio", "type": "rich"}'}
    headers:
      content-language: [en]
      content-type: [application/json]
      x-srv: [srv-211-12]
      x-version: ['720']
    status: {code: 200, message: OK}
version: 1
